body {
  margin: 0;
  font-family: 'Kristi', cursive;
  font-size: 1.75vw;
}

.mainheader {
  margin-bottom: inherit;
  margin-top: inherit;
  font-size: 4vw;
}

.para1 {
  font-family: 'Walter Turncoat', cursive;
}

.top-container {
  background-color: #FFF59D;
  text-align: center;
}

.mountain {
  width: 100%;
  height: 100%;
  position: relative;
  bottom: 25vw;
}

.moon {
  position: relative;
  left: 7vw;
  width: 7.5%;
  height: 7.5%;
}

.bottom-cloud {
  position: relative;
  right: 20vw;
  bottom: 1vw;
  width: 10%;
  height: 10%;
}

.top-cloud {
  position: relative;
  top: 5vw;
  left: 20vw;
  width: 10%;
  height: 10%;
}