body {
  margin: 0;
}

.mainheader {
  margin-bottom: inherit;
  margin-top: inherit;
  font-family: 'Kristi', cursive;
  font-size: 62px;
}

.para1 {
  font-family: 'Walter Turncoat', cursive;
  font-size: 27px ;
}

.top-container {
  background-color: #FFF59D;
  text-align: center;
  height: 710px;
  width: 1540px;
  margin-top: 0;
  position: relative;
}

.mountain {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1540px;
  height: 510px;
}

.moon {
  position: relative;
  left: 108px;
  bottom: 46px;
  width: 6rem;
  height: 6rem;
}

.bottom-cloud {
  position: relative;
  right: 308px;
  bottom: 15.5px;
  width: 10rem;
  height: 6rem;
}

.top-cloud {
  position: relative;
  top: 77px;
  left: 308px;
  width: 10rem;
  height: 6rem;
}
.profile {
  text-align: left;
  margin: 0 auto;
  height: 25rem;
  font-family: 'Montserrat', sans-serif;
}
.mushapic {
  width: 12.5rem;
  height: 20rem;
  border-radius: 150px;
}
.verticalLine {
  border-left-style: solid;
  border-left-color: #0B345B;
  border-left-width: .25rem;
}
.raheading {
  color: #0B345B;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
}
.middle-container {
  background-color: #EBF2F9;
  width: 1540px;

}
.horizontal-line {
  text-align: center;
  border-style: none;
  border-top-style: dotted;
  border-top-width: .5rem;
  width: 5%;
  border-color: #85929E;
}
.qOwl {
  width: 11rem;
  height: 18rem;
  border-radius: 8.5rem;
  border-width: thick;
  border-style: solid;
}

.skill-left {
  margin: auto;
  width: 75%;
}

.waltertext {
 font-family: 'Walter Turncoat', cursive;
 font-size: 1.5rem;
}

.nightOwl {
  width: 12rem;
  height:12rem;
}

.skill-right {
  width: 75%;
  margin:auto;
  text-align: right;
}
.right-table {
  position: relative;
  left: 460px;
  font-family: 'Montserrat', sans-serif;
}
.para2 {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5rem;
}
.skills {
  margin: 5rem auto;
}

.para3 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
.linkpng {
  width: 4rem;
  height: 4rem;
}
.bottom-container {
  padding-top: 2rem;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  background-color: #FFF59D;
  width: 1540px;
  margin-bottom: 0;
}
